.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 670px;
  height: 280px;
  border-radius: 12px;
  background-color: #ffffff;
  border: #0000004d 1px solid;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: contain;
  margin: 0;
}

.modal__text {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  max-width: 367px;
  height: 48px;
  margin-bottom: 40px;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  height: 16px;
  width: 16px;
  border: none;
  color: #0000004d;
  background: transparent;
  z-index: 1;
}

.modal__close:hover {
  cursor: pointer;
  color: #000000;
}

.modal__confirm-btn {
  display: flex;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 24px;
  color: #ff4d00;
  background: transparent;
  border: none;
  cursor: pointer;
}

.modal__cancel-btn {
  display: flex;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  background: transparent;
  border: none;
  cursor: pointer;
}
