.ItemModal {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0;
  background-color: #ffffff;
  width: 498px;
  height: 610px;
  border-radius: 12px;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  height: 16px;
  width: 16px;
  border: none;
  color: #0000004d;
  background: transparent;
  z-index: 1;
}

.modal__close:hover {
  cursor: pointer;
  color: #000000;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal__content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 12px;
  margin: 0;
  padding: 0;
  z-index: 2;
}

.modal__footer {
  display: flex;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.modal__image {
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background-color: #f6f6f6;
}

.modal__info {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 32px 20px 0 32px;
  padding: 0;
  gap: 12px;
}

.modal__image-item {
  position: relative;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.modal__caption {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin: 0;
  padding: 0;
}

.modal__weather {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin: 0;
  padding: 0;
}

.modal__delete-btn {
  display: flex;
  background: transparent;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ff4d00;
  border: none;
  cursor: pointer;
}
