.sidebar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  width: 229px;
  height: 56px;
  top: 119px;
  left: 40px;
  border: 1px;
  margin: 0;
  padding: 0;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
}

.sidebar__username {
  width: 157px;
  height: 25px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: #000000;
  margin: 0;
  padding: 0;
}
